# git ignore file for the Docker-Provider project

/intermediate/
/target/
/build/config.mak

# Unit test files
source/plugins/go/src/profiling
.vscode/launch.json
source/plugins/go/src/*.h
source/plugins/go/pkg/
# go shared object files
*.so
*.zip
*.pyc
# .net code build artificats
build/windows/installer/certificategenerator/bin
build/windows/installer/certificategenerator/obj
# files under omsagentwindows dir since this temp directory to build the docker image
kubernetes/windows/omsagentwindows