# git ignore file for the Docker-Provider project

/intermediate/
/target/
/build/config.mak

# Unit test files
source/plugins/go/src/profiling
.vscode/launch.json
source/plugins/go/src/vendor/
# ignore go packages
source/plugins/go/pkg/
source/plugins/go/src/*.h
# .net code build artificats
build/windows/installer/certificategenerator/bin
build/windows/installer/certificategenerator/obj
# files under omsagentwindows dir since this temp directory to build the docker image
kubernetes/windows/omsagentwindows
# ignore everything under intermediate directory
intermediate
# ignore files which are having these extensions
*.pyc
*.so
*.zip
*.tar
*.exe
*.jar
*.dll
*.obj

# ignore docker provider shell bundle
kubernetes/linux/Linux_ULINUX_1.0_x64_64_Release
# ignore intermediate .h files under go src
source/plugins/go/src/*.h
