# Default values for azuremonitor-containers.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Microsoft OMS Agent image for kubernetes cluster monitoring
## ref: https://github.com/microsoft/Docker-Provider/tree/ci_prod
## Values of ResourceId and Region under Azure->Cluster being populated by Azure Arc K8s RP during the installation of the extension
Azure:
  Cluster:
    Region: <your_cluster_region>
    ResourceId: <your_cluster_id>
omsagent:
  image:
    repo: "mcr.microsoft.com/azuremonitor/containerinsights/ciprod"
    tag: "ciprod01112021"
    tagWindows: "win-ciprod01112021"
    pullPolicy: IfNotPresent
    dockerProviderVersion: "12.0.0-0"
    agentVersion: "1.10.0.1"
  ## To get your workspace id and key do the following
  ## You can create a Azure Loganalytics workspace from portal.azure.com and get its ID & PRIMARY KEY from 'Advanced Settings' tab in the Ux.

  secret:
    wsid: <your_workspace_id>
    key: <your_workspace_key>
  domain: opinsights.azure.com
  proxy: <your_proxy_config>
  env:
    clusterName: <your_cluster_name>
    ## Applicable for only managed clusters hosted in Azure
    clusterId: <your_cluster_id>
    clusterRegion: <your_cluster_region>
  rbac: true
  logsettings:
    logflushintervalsecs: ""
    tailbufchunksizemegabytes: ""
    tailbufmaxsizemegabytes: ""
    ## Applicable for only Azure Stack Edge K8s since it has custom mount path for container logs which will have symlink to /var/log path
    custommountpath: ""

  ## Configure node tolerations for scheduling onto nodes with taints
  ## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
  ##
  tolerations:
    - operator: "Exists"
      effect: "NoSchedule"
    - operator: "Exists"
      effect: "NoExecute"
    - operator: "Exists"
      effect: "PreferNoSchedule"

  ## Pod scheduling preferences.
  ## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  ##
  daemonset:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - labelSelector:
              matchExpressions:           
                - key: kubernetes.io/os
                  operator: In
                  values:
                    - linux
                - key: type
                  operator: NotIn
                  values:
                    - virtual-kubelet
                - key: kubernetes.io/arch 
                  operator: In
                  values:
                    - amd64   
          nodeSelectorTerms:
            - labelSelector:
              matchExpressions:
                - key: kubernetes.io/os
                  operator: In
                  values:
                    - linux
                - key: type
                  operator: NotIn
                  values:
                    - virtual-kubelet
          nodeSelectorTerms:
            - labelSelector:
              matchExpressions:
                - key: beta.kubernetes.io/os
                  operator: In
                  values:
                    - linux
                - key: type
                  operator: NotIn
                  values:
                    - virtual-kubelet
                - key: beta.kubernetes.io/arch 
                  operator: In
                  values:
                    - amd64       
  deployment:
    affinity:
      nodeAffinity:
        # affinity to schedule on to ephemeral os node if its available
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: storageprofile
                operator: NotIn
                values:
                - managed
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - labelSelector:
              matchExpressions:
                - key: kubernetes.io/os
                  operator: In
                  values:
                    - linux
                - key: type
                  operator: NotIn
                  values:
                    - virtual-kubelet
                - key: kubernetes.io/role
                  operator: NotIn
                  values:
                    - master
                - key: kubernetes.io/arch 
                  operator: In
                  values:
                    - amd64       
          nodeSelectorTerms:
            - labelSelector:
              matchExpressions:
                - key: beta.kubernetes.io/os
                  operator: In
                  values:
                    - linux
                - key: type
                  operator: NotIn
                  values:
                    - virtual-kubelet
                - key: kubernetes.io/role
                  operator: NotIn
                  values:
                    - master
                - key: beta.kubernetes.io/arch 
                  operator: In
                  values:
                    - amd64           
  ## Configure resource requests and limits
  ## ref: http://kubernetes.io/docs/user-guide/compute-resources/
  ##
  resources:
    daemonsetlinux:
      requests:
        cpu: 75m
        memory: 225Mi
      limits:
        cpu: 150m
        memory: 600Mi
    daemonsetwindows:
      limits:
        cpu: 200m
        memory: 600Mi
    deployment:
      requests:
        cpu: 150m
        memory: 250Mi
      limits:
        cpu: 1
        memory: 1Gi
